@import url("https://fonts.googleapis.com/css?family=Raleway:200,300,400,500,600,700,800&display=swap");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700&display=swap");
body,
html {
  height: 100%;
  margin: 0;
  font-family: "Raleway", "Noto Sans KR", sans-serif !important;
  letter-spacing: -0.08ch !important; }

body.c1 #first {
  background-color: #404759; }
body.c1 #answer_container i.icon {
  color: #404759; }

body.c2 #first {
  background-color: #467f8c; }
body.c2 #answer_container i.icon {
  color: #467f8c; }

body.c3 #first {
  background-color: #f2dd72; }
body.c3 #answer_container i.icon {
  color: #f2dd72; }

body.c4 #first {
  background-color: #f2bbbb; }
body.c4 #answer_container i.icon {
  color: #f2bbbb; }

body.c5 #first {
  background-color: #382f4b; }
body.c5 #answer_container i.icon {
  color: #382f4b; }

body.c6 #first {
  background-color: #005daa; }
body.c6 #answer_container i.icon {
  color: #005daa; }

body.c7 #first {
  background-color: #ab94fc; }
body.c7 #answer_container i.icon {
  color: #ab94fc; }

body.c8 #first {
  background-color: #abcdef; }
body.c8 #answer_container i.icon {
  color: #abcdef; }

body.c9 #first {
  background-color: #c7e2cf; }
body.c9 #answer_container i.icon {
  color: #c7e2cf; }

body.c10 #first {
  background-color: #c4beef; }
body.c10 #answer_container i.icon {
  color: #c4beef; }

body.c11 #first {
  background-color: #ef4b3f; }
body.c11 #answer_container i.icon {
  color: #ef4b3f; }

body.c12 #first {
  background-color: #134515; }
body.c12 #answer_container i.icon {
  color: #134515; }

#particles-js {
  position: absolute;
  height: 100%;
  width: 100%; }

#first,
#second {
  display: flex;
  align-items: center;
  justify-content: center; }

#first {
  position: relative; }
  #first .ui.container {
    width: 80% !important; }
    #first .ui.container .ui.form#question_form {
      width: 100%;
      padding: 3rem;
      background-color: white;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      font-family: "Raleway", "Noto Sans KR", sans-serif !important;
      letter-spacing: -0.08ch !important; }
      #first .ui.container .ui.form#question_form .ui.message > * {
        font-family: "Raleway", "Noto Sans KR", sans-serif !important;
        letter-spacing: inherit !important; }
      #first .ui.container .ui.form#question_form textarea {
        background: transparent !important; }
      #first .ui.container .ui.form#question_form button,
      #first .ui.container .ui.form#question_form textarea {
        font-family: inherit !important;
        letter-spacing: inherit !important; }

#second {
  background-color: white; }
  #second .ui.container {
    width: 80% !important; }

#answer_container {
  padding: 3rem 0; }
  #answer_container .ui.segment {
    padding: 3em 0 0 0; }
    #answer_container .ui.segment .ui.medium.header {
      font-weight: 500;
      font-family: "Raleway", "Noto Sans KR", sans-serif !important; }
    #answer_container .ui.segment p {
      font-weight: 400;
      margin-bottom: 1em !important; }
  #answer_container .ui.vertical.segment:first-child {
    padding-top: 0; }
  #answer_container .ui.vertical.segment:last-child {
    border-bottom: 1px solid rgba(34, 36, 38, 0.15); }

.hiu.section {
  width: 100%; }
  .hiu.section.full {
    min-height: 100vh; }
  .hiu.section.half {
    min-height: 50vh; }
  .hiu.section.quarter {
    min-height: 25vh; }
  .hiu.section.half.quarter {
    min-height: 75vh; }

/*# sourceMappingURL=style.css.map */
